@config "../tailwind.config.ts";
@import "tailwindcss";

@layer theme {
  :root {
    --color-background: #ffffff;
    --color-foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: #0a0a0a;
      --color-foreground: #ededed;
    }
  }
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: var(--color-foreground);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

